<ul class="my-2">
  <li>
    <i class="fas fa-mobile-alt fs-2 color-light m-1"></i
    ><a class="color-light" href="”tel:0621811653″">06.21.81.16.53</a>
  </li>
  <li>
    <i class="fas fa-envelope fs-2 color-light m-1"></i
    ><a class="color-light" href="mailto:jonathan.dupau24@gmail.com"
      >jonathan.dupau24@gmail.com</a
    >
  </li>
  <li class="color-light">
    <i class="fas fa-crosshairs fs-2 color-light m-1"></i> Bordeaux
  </li>
</ul>
