/* ======================IMPORT========================*/
/*=====TITLE-FONT=====*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap');
/*=====================FIN-IMPORT=====================*/

html {  scroll-behavior: smooth;    }
.typo-title{    font-family: 'Lobster', cursive;}

.br-50{    border-radius: 50px;    }

.box-shadow{
    box-shadow: 2px 2px 8px var(--bg-color-element);
}
/*======================MENU-BURGER=====================*/
img#menu-burger{
    width: 45px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    border:3px solid var(--bg-color-element);
    animation-iteration-count: infinite;
    z-index: 1000;
}


    