header#main-header{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../photos/header-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-color: #0000;
}
/* header#main-header div#scroll-direction{
    width: 10px;
    position: absolute;
    top: 1%;
    left: 50%;
} */
header#main-header div#back-top{
    z-index: 1000;
    width: 10px;
    position: fixed;
    top: -50vh;
    right: 10%;
    transition: 1s ease-in-out;
}
header#main-header .title{
    position: absolute;
    top: 80%;
    left: 50vw;
    transform: translatex(-50%);
}
@media screen and (min-width: 500px){
    header#main-header{
        background-position: 60% 25%;
    }  
}
@media screen and (min-width: 500px){
    header#main-header div#scroll-direction{
        left: 11%;
    }
}
@media screen and (min-width: 700px){
    header#main-header .title{
        top: 70%;
    }
    header#main-header div#scroll-direction{
        left: 10%;
    }
}
@media screen and (min-width: 1100px){
    header#main-header .title{
        top: 59%;
    }
}