:root {
    --typo-title : 'Lobster', cursive;
    --typo-txt : 'Recursive', sans-serif;
    --bg-color-body: #05222b;
    /* --bg-color-main: ; */
    --bg-color-element: #43cdf7;
    --bg-color-quote: #43cdf752;
    --color-text: #2e92b0;
}