.bloc-horizontal{
    overflow-x: hidden;
}
@media screen and (min-width: 500px){
    .content{
        width: 100vh;
        height: 100vw;
        transform: rotate(-90deg) translateX(-100vh);
        transform-origin: top left;
        overflow-x: hidden;
    }
    .bloc-horizontal{
        display: flex;
        flex-direction: row;    
        width: 1000vw;
        transform: rotate(90deg) translateY(-100vh);
        transform-origin: top left;
        overflow-y: hidden;
    }
    .slide{
        width: 100vw;
        height: 100vh;
    }
    ::-webkit-scrollbar{
        display: none;
    }
    body{
        overflow-y: hidden;
    }
}


 
