/*=================MENU=====================*/
nav#main-menu ul#ancres li.buble a {
    border-radius: 50px 0px 50px 50px;
}
nav#main-menu{
    position: absolute;
    visibility: hidden;
    transition: .5s ease-in-out;
}
.show{
    visibility: visible !important;
}
nav#main-menu,  nav#main-menu ul{
    z-index: 10;
}
 nav#main-menu ul#ancres>li>a:hover{
    background-color: var(--color-main);
    color: var(--color-dark);
}
nav#main-menu ul#font-icons li{
    position: relative;
    margin: 0 20px;
    cursor: pointer;
}
nav#main-menu ul#font-icons li .fab{
    font-size: 2.5em;
    color: var(--color-light);
}
nav#main-menu ul#font-icons li::before{
    font-family: "Font Awesome 5 Brands";
    position: absolute;
    top: -4px;
    left: 0;
    font-size: 2.5em;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
nav#main-menu ul#font-icons li:nth-child(3):before{
    content: '\f296';
    color: #e24329;
    border-bottom: 4px solid #e24329;
}
 nav#main-menu ul#font-icons li:nth-child(2):before{
    content: '\f09b';
    color: #ffff;
    border-bottom: 4px solid #ffff;
}
 nav#main-menu ul#font-icons li:nth-child(1):before{
    content: '\f0e1';
    color: #0a66c2;
    border-bottom: 4px solid #0a66c2;
}
nav#main-menu ul#font-icons li:hover::before{
    height: 100%;   
}
/*==============SECTION-ABOUT============*/
section#about img#about-pp{
    width: 250px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); 
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}
/*================PROGRESS-BAR============*/
.progressbar{
    border-radius: 20px;
    animation: load 3s normal forwards;   
}
.progressbar::-moz-progress-bar{
    background-color: var(--color-dark);
    border-radius: 20px;
}
@keyframes load {
    0% { width: 0; }
    100% { width: 69%; }
  }
/*================CARD-PROJECT============*/
.card, .form{
    max-height: 800px;
    max-width: 525px;
}
.card header.header-card img{
    max-height: 350px;
}
article.card div.body-card a:hover{
    background-color: var(--color-main);
    color: var(--color-dark);
}
/*===============CONTACT=================*/

section#contact div#quote{
    cursor: pointer;
}
.maps{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.maps iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/*===============MEDIA-QUERIES==============*/
@media screen and (min-width: 700px){
    @keyframes load {
        0% { width: 0; }
        100% { width: 78%; }
      }
}
@media screen and (min-width: 1100px){
    @keyframes load {
        0% { width: 0; }
        100% { width: 88%; }
    }
}