/*==================NAVBAR====================*/
img#logo{
    width: 100px;
    margin: auto;
}

/*================CARD======================*/
.card{
    border: 2px solid var(--color-main);
    border-radius: 10px;
    box-shadow: 2px 2px 5px var(--color-main);
}
.card header.card-header img{
    width: 100%;
    border-radius: 10px;
}
.card div.body-card a{
    border-radius: 10px;
}