:root{
    --color-dark: #05222b;
    --color-light: #43cdf7;
    --color-main: #a5c7d1;
    --typo-title: 'Lobster', cursive;
    --typo-txt: 'Recursive', sans-serif;
    --spacing-1: 1rem;
    --spacing-2: 2rem;
    --spacing-3: 3rem;
    --spacing-4: 4rem;
    --spacing-5: 5rem;
    --spacing-6: 6rem;
    --spacing-7: 7rem;
    --spacing-8: 8rem;
    --spacing-9: 9rem;
    --spacing-10: 10rem;
    --br-25: 25px;
    --br-50: 50px;
    --box-shadow: 2px 2px 5px var(--color-main);
    --left: left;
    --center: center;
    --right: right;
}