*{
    font-family: var(--typo-txt);
}
header#main-header nav.navbar div.d-block div.d-block img + a{
    font-family: var(--typo-title);
}



/* .demo-grid{
    background-color: teal;
}
.demo-col{
    background-color: #c49f9f;
} */
