*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;    
}
ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}
